# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python

# Entornos virtuales
venv/
.venv/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/staticfiles/
Directorio/staticfiles/
/media/
Directorio/media/

# Entorno
.env
.env.*
!.env.example

# Editores / SO
.vscode/
.idea/
.DS_Store
Thumbs.db
